*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

 /**
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    contenteditable attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that are clearfixed.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
.group:before,
.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.group:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.group {
  *zoom: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 1.125em;  /* 18px/16px */
}

#main-container {
  padding: 1em;
  height: 100%;
}

.agenda {
  float: left;
  width: 33.333333333%;
  height: 100%;
}

.calendar {
  float: left;
  width: 66.666666667%;
  height: 100%;
}

.calendar-day,
.calendar-spacer
{
  float: left;
  width: 14.285714286%;
  height: 16.66666667%;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  padding: .5em;
}

.calendar-spacer {
  background-color: #f5f5f5;
}

.calendar-day:hover {
  background-color: #f5f5f5;
}

.calendar-day:first-child,
.calendar-spacer:first-child,
.calendar-day-sunday {
  border-left: 1px solid #ccc;
}

.calendar-day-first-week {
  border-top: 1px solid #ccc;
}

.calendar-day-item-count {
  color: blue;
  font-size: 1.5em;
  word-wrap: break-word;
}

.selected,
.selected:hover {
  background-color: aqua;
}

.agenda-item-remove {
  display: none;
}

.agenda-item:hover .agenda-item-remove {
  display: inline;
}
